absl-py==0.13.0
astor==0.8.1
cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.3
cloudpickle==1.6.0
cupy==9.2.0
dataclasses==0.8
dill==0.3.4
fastrlock==0.6
gast==0.2.2
google-pasta==0.2.0
grpcio==1.38.1
h5py==3.1.0
idna==3.2
importlib-metadata==4.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
numpy==1.18.5
nvidia-cublas==11.2.1.74
nvidia-cuda-cupti==11.1.69
nvidia-cuda-nvcc==11.1.74
nvidia-cuda-nvrtc==11.1.105
nvidia-cuda-runtime==11.1.74
nvidia-cudnn==8.0.4.30
nvidia-cufft==10.3.0.74
nvidia-curand==10.2.2.74
nvidia-cusolver==11.0.0.74
nvidia-cusparse==11.2.0.275
nvidia-dali-cuda110==0.27.0
nvidia-dali-nvtf-plugin==0.27.0+nv20.11
nvidia-horovod==0.20.2+nv20.11
nvidia-nccl==2.8.2
nvidia-pyindex==1.0.9
nvidia-tensorflow==1.15.4+nv20.11
nvidia-tensorrt==7.2.1.6
opencv-python==4.5.2.54
opt-einsum==3.3.0
ordered-set==4.0.2
Pillow==9.0.0
protobuf==3.17.3
psutil==5.8.0
PyYAML==5.4.1
requests==2.26.0
tensorboard @ https://pypi.ngc.nvidia.com/tensorboard/tensorboard-1.15.0-py2.py3-none-any.whl
tensorflow-estimator==1.15.1
termcolor==1.1.0
torch==1.8.1
torchmeta==1.7.0
torchvision==0.9.1
tqdm==4.61.2
typing-extensions==3.10.0.0
urllib3==1.26.6
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.4.1
